/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Hero Section */
.hero-section {
    background: url('GNSS_receiver_web_hero_v2.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

/* Overlay */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}

/* Content */
.content {
    text-align: left;
    color: #fff;
    padding: 20px;
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3;
}

/* feature code started */

.gnss-receivers {
    background-color: #f8f9fa;
    padding: 60px 0;
}

.gnss-receivers .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.gnss-receivers h2 {
    /* font-size: 2.5rem; */
    margin-bottom: 20px;
    color: #053764;
    letter-spacing: -2px;
}

.gnss-receivers p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6c757d;
}

.gnss-receivers img {
    max-width: 100%;
    height: auto;
    
}

.gnss-container{
    margin: 0 10%;
}


.txt-left{
text-align:left;
}

.feature-content{
    align-items: center;
    display: flex;
}


/* feature code Ended */

/* form code started */
.stacked-form .form-group {
    margin-bottom: 15px;
}

.stacked-form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: 400;
}

.stacked-form .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* form code Ended */

footer {
    background-color:#001423;
    color: #fff;
    padding: 60px 0;
    text-align: center;
  }
  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-logo img {
    width: 150px;
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
    display: grid;
  }
  .footer-links ul li {
    display: inline;
    margin: 0 10px;
  }
  .footer-links ul li a {
    color: #fff;
    text-decoration: none;
  }
  .footer-social a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
  }
  .footer-copy {
    width: 100%;
    margin-top: 10px;
    display: flex;
  }

  hr{
    width:80%;
    justify-self: center;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  .social-icon{
    border: 2px solid white;
    padding: 4px 6px;
    color: #001423;
    background-color: white;
  }

  .heading-txt{
    font-weight: 700;
  }
  section.get-in-touch {
    padding: 60px;
   
    
}

.Get-in-touch-txt{
    font-size: 50px;
    font-weight: 700;
    color: #053764;
    margin-bottom: 20px;
}

.section-heading{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
    /* color: #053764; */
}

.section-heading1{
    font-size: 70px !important;
    font-weight: 700;
}